<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My profile</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="ion-padding">
    <div>
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input [(ngModel)]="user.firstname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input [(ngModel)]="user.lastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="user.email"></ion-input>
      </ion-item>
    </div>
    <ion-button expand="block" (click)="editProfile()">Edit Profile</ion-button>
  </div>


  <ion-card>
    <h3>🎵 My vibrations</h3>
    <ion-card-header>
      <!--         <ion-card-title>Vibration's Informations</ion-card-title>
 --> <ion-button fill="outline" color="success" (click)="navigateToMyVibrationsPage()">Interact with
        them</ion-button>
    </ion-card-header>
    <ion-card-content>
      <!--       <ion-button fill="outline" color="medium" (click)="toggleSort()">A -> Z</ion-button>
 -->
      <!-- Display user information here -->
      <ion-list>
        <ion-item class="wout-line-under" *ngFor="let vibration of vibrations"><ion-card>
            <ion-card-header>
              <!-- &lbrace;  &rbrace; -->
              <ion-card-title>{{ vibration }} $&lbrace; vibration.name &rbrace;</ion-card-title>
              <ion-card-subtitle>$&lbrace; vibration.plant_id.name &rbrace;</ion-card-subtitle>
            </ion-card-header>

            <!-- <ion-card-content>
              &lbrace; player &rbrace; 🎧
            </ion-card-content> -->

          </ion-card></ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>