<ion-app>

  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="home-list">
          <ion-list-header>Home</ion-list-header>
          <ion-note>&#64;CurrentUser</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-button color="warning" (click)="logOut()">👤 Log Out</ion-button>

      </ion-content>
    </ion-menu>

    <!-- Ajoutez une div autour, dans laquelle tu mets le router outlet et le composant du lecteur -->
    <ion-content id="main-content">

      <ion-router-outlet>
        <!-- le contenu de ma page -->
      </ion-router-outlet>


    </ion-content>

  </ion-split-pane>

</ion-app>