<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>the-plants-vibrations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">the-plants-vibrations</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding"> <!-- (click)="goBack()" -->
    <ion-button fill="outline" color="medium" (click)="goBack()"> <ion-back-button defaultHref="/the-plants">
      </ion-back-button> Back to the greenhouse 🍃 </ion-button>
    <!-- afficher toutes les vibrations d'une seule plante -->
  </div>

</ion-content>