<!-- template page -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- le contenu de ma page -->
  <!-- <div class="ion-padding">
    Home page works
  </div> -->

  <div>
    <h3>Map 🧭</h3>
    <ion-button slot="end" class="full-screen-button" (click)="toggleFullScreen()"> ⛶ </ion-button>
  </div>
  <div class="map" [ngClass]="{'full-screen': isFullScreen}" leaflet [leafletOptions]="mapOptions"></div>

  <h3>Infinity list 📁</h3>

  <div>
    <ion-list>
      <ion-item *ngFor="let item of items; let index">
        <!-- <ion-avatar slot="start">
          <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
        </ion-avatar> -->
        <ion-label>{{ item }}</ion-label>
        <ion-button slot="end" (click)="openPopup(item)">View Infos</ion-button>
        <ion-button slot="end" (click)="toggleAudio()">Listen 🎧</ion-button><!-- bouton d'ecoute de l'audio -->
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>


  <<!-- audio controls *ngIf="audioService.isPlaying">
    <source src="your-audio-file.mp3" type="audio/mp3">
    Your browser does not support the audio element.
    </audio> -->

</ion-content>